@model UniversityWebApp.Models.Student

@{
    ViewData["Title"] = "Удалить студента";
}

<h1>Удалить студента</h1>

<h3>Вы уверены, что хотите удалить этого студента?</h3>
<div>
    <h4>Студент</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Фамилия
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            Имя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            Дата рождения
        </dt>
        <dd class="col-sm-10">
            @Model.BirthDate.ToString("dd.MM.yyyy")
        </dd>
        <dt class="col-sm-2">
            Группа
        </dt>
        <dd class="col-sm-10">
            @(Model.Group?.Name ?? "Не указана")
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Назад к списку</a>
    </form>
</div>
